h2{
  color:red;
}

body{
  background:  #75c4e6;
}

#info-heading{
  color: purple;
  background: yellow;
  text-align: center;
  font-family: "Times New Roman";
  font-size: 50px;
  border: 10px solid blue;
}

.p1{
  color: brown;
  background: #efea7b;
}

.a1{
  color: red;
  background-color: white;
  padding: 14px 25px;
  text-decoration: none;
  border: 5px solid red;
}

.a1:hover{
  color: white;
  background: red;
}